<html>
<body>
<form action = "http://localhost:5000/login" method = "post" >


<h2>Flask Web Application. Profit Prediction using Artificial Neural Network<h2>

<p>Enter marketing amount</p>
<p> <input type = "text" name = "a" /></p>
<p>Enter administrative amount</p>
<p> <input type = "text" name = "b" /></p>
<p>Enter R&D amount</p>
<p> <input type = "text" name = "c" /></p>

<select name = 's'>
<option value = "newyork"> newyork </option>
<option value = "florida"> florida </option>
<option value = "california"> california </option>
</select>


<p> <input type = "Submit" value = "submit" /></p>
</form>
<b>{{abc}}</b>
</body>
</html>